/* +++++ Generieke layout pagina's +++++ */
html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #1D1D1D !important;
}

#root {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.inhoud {
  flex-grow: 1;
  margin-top: 15px;
}

@media (min-width: 1500px) {
  .MuiContainer-root {
    max-width: 1500px !important;
  }
}
/* +++++ Navbar +++++ */
#navbar {
  text-transform: uppercase;
  position: static;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #a30000;
  background-image: none;
}
#navbar .navBar-listItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
#navbar #navbar-naam {
  letter-spacing: 1px;
  margin-right: 16px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
#navbar #navbar-menuIcoon {
  color: white;
}
#navbar .MuiListItemText-primary {
  font-weight: bold;
}

.mobileNav-Button > .MuiListItemButton-root {
  padding: 0px !important;
}

.MuiListItemButton-root.mobileNav-listItem:hover {
  background-color: #a30000;
}

.MuiListItemButton-root.mobileNav-listItem {
  border-top: 1px solid black;
  background-color: #a30000;
  padding: 8px 28px;
}
.MuiListItemButton-root.mobileNav-listItem .MuiListItemText-primary {
  font-weight: 550;
}

@media (min-width: 600px) {
  .MuiListItemButton-root.mobileNav-listItem {
    padding: 8px 36px;
  }
}
/* +++++ Generieke opmaak tekst +++++ */
.pageComponent {
  margin-bottom: 12px !important;
}
.pageComponent h4 {
  padding-left: 10px !important;
  border-left: 5px inset #a30000;
}
.pageComponent .underLineTitle {
  border-color: #a30000;
  border-width: 5px;
}
.pageComponent .text {
  font-size: 18px !important;
  margin: 0px 10px 10px 10px !important;
}
.pageComponent .text a {
  color: #00B9CB;
}
.pageComponent .text ul {
  padding-left: 18px;
  margin: 5px 0px;
}
.pageComponent .subtitle {
  border-left-color: #a30000;
  border-left-width: 5px;
  border-left-style: inset;
  padding-left: 10px;
}
.pageComponent .underlineSubtitle {
  border-color: #a30000;
}

/* +++++ AboutMe Pagina +++++ */
.selfie {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  float: left;
}

@media (max-width: 549px) {
  .fullWidthUnder550 {
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: 10px;
  }
}
/* +++++ Footer +++++ */
#footerBox {
  background-color: #a30000;
  margin-top: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}
#footerBox h5 {
  font-size: 1.7rem;
}
#footerBox ul {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 0px;
  font-size: 18px;
  font-weight: 400;
}
#footerBox ul li a {
  color: #8FFFFF !important;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

/* +++++ Scrollbar +++++ */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #a30000;
  border-color: #ba0000;
}
::-webkit-scrollbar-thumb :hover {
  background-color: #a30000;
  border-color: #ba0000;
}/*# sourceMappingURL=style.css.map */